.container{
    border: 1px solid black;
    height: 300px;
    width: 300px;
    background-color: beige;
    animation: animate 5s infinite;
}
@keyframes animate {
    0%{
        position: relative;
        top: 0px; 
        left: 0px;
        background-color: aqua;
    }
    25%{
        position: relative;
        left: 200px; top: 0px;
        background-color: blue;
    }
    50%{
        position: relative;
        top: 200px; left: 200px;
        background-color: blueviolet;
    }
    75%{
        position: relative;
        left: 0; top: 200px;
        background-color: brown;
    }
    100%{
        position: relative;
        left: 0px; top: 0px;
        background-color: aqua;
    }
}
