.container{
    border: 1px solid black;
    border-radius: 50px;
    width: 250px;
    height: 250px;
    padding: 100px;
    margin-left: 500px;

    margin-top: 50px;
}
h3,p{
    text-align: center;
}
a{
    padding-left: 118px ;
    padding-right: 118px;
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    
    
}
.bottom{
    border: 1px solid black;
    width: 250px;
    padding: 20px 100px 20px 100px;

    margin-left: 500px;
    margin-top: 20px;
}
span{
    color:  blue;
}
input{
    padding: 10px;
    width: 250px;
}
