.nav-bar{
    display: flex;
    list-style: none;
    background-color: beige;
    position: relative;
}
.nav-bar li{
    padding: 30px;
}
.nav-abt{
    display: none;
}
.child-ser {
    display: none;
    
} 
.nav-ser:hover .child-ser{
    display: block;
    position: absolute;
}


